body{
    font-family: 'Arial', sans-serif;
    background-color: #6983eb;
}
h1{
    color: #5520a9;
    text-align: center; 
    text-decoration: underline;
}
h2{
    color: #0dc70d;
    margin-top: 20px;}

h3{
    color: #d41bc1;
    
}
p{
    color: #e6a119;
    line-height: 1.5;
    margin-bottom: 15px;
}
a{
    color: #007BFF;
    text-decoration: none;
    background-color: black;
    margin-right: 10px;
    padding: auto;
    border-radius: 6px;
}
a:hover{
    background-color: #007BFF;}
    hr{border: 1px solid #79bba2}
    .heading{
        color: #566153;
    }
    .first paragraph{
        color: #e29090;
        font-size: 16px;
    }
    .my-link{
        color: #007BFF;
        text-decoration: none;
        background-color: transparent;
        margin-right: 10px;
        padding: auto;
        border-radius: 6px;
    }